#https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven
name: Java CI

on: [push]

jobs:
  buildtest:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: maven
      - name: Build and Test with Maven
        run: mvn jacoco:prepare-agent clean test jacoco:report
      - name: Coveralls report
        run: mvn coveralls:report
